<div class="flex items-center gap-2">
  <a mat-icon-button routerLink="/cart" aria-label="Vai al carrello"
    class="flex! items-center! justify-center! text-white! hover:bg-white/10" matTooltip="Vai al Carrello">
    <mat-icon [matBadge]="cartService.count()" [matBadgeHidden]="cartService.count() === 0" aria-hidden="false"
      class="text-white!">shopping_cart</mat-icon>
  </a>
  @if(authService.currentUser(); as user) {
  <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Menu utente" matTooltip="Menu utente"
    class="flex items-center justify-center text-white! hover:bg-white/10">
    <mat-icon class="text-white!">face</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before">
    <div class="flex flex-col px-4 py-2 min-w-50 outline-none">
      <span class="text-sm font-bold text-gray-800">
        {{ user.username }}
      </span>
      <span class="text-xs text-gray-500">{{ user.email }}</span>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/features/orders">
      <mat-icon>list_alt</mat-icon>
      <span>I miei ordini</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Esci</span>
    </button>
  </mat-menu>
  } @else {
  <div class="flex items-center gap-2">
    <div class="flex items-center gap-2">
      <button matButton="filled" (click)="openLogin()" aria-label="Accedi al sito" matTooltip="Accedi al sito">
        Login
      </button>
    </div>
    <div class="relative group">
      <a matButton="elevated" routerLink="/signup" aria-label="Registrati al sito" matTooltip="Registrati al sito">
        Registrati
      </a>
    </div>
  </div>
  }
</div>