<mat-sidenav-container autosize class="min-h-[calc(100vh-64px)] w-full overflow-x-hidden! bg-gray-50">
    <mat-sidenav mode="side" opened
        class="border-r border-gray-200 bg-white shadow-sm overflow-visible! relative h-auto min-h-full z-20"
        style="view-transition-name: main-sidebar;" [class]="isSidebarCollapsed() ? 'w-10!' : 'w-68!'">

        <app-category-sidebar [activeCategory]="currentCategoryValue()" (collapsedChange)="onSidebarToggle($event)">
        </app-category-sidebar>

    </mat-sidenav>

    <mat-sidenav-content class="bg-gray-50 p-8  ">

        <div class="flex justify-between items-end mb-8 border-b border-gray-200 pb-4">
            <div>
                <h1 class="text-3xl font-bold text-gray-900 capitalize tracking-tight flex items-center min-h-10">
                    @if (currentCategoryValue() === 'all') {
                    All Products
                    } @else {
                    {{categoryName()}}
                    }
                </h1>
                <p class="text-gray-500 mt-1 text-sm font-medium">
                    @if (isLoading()) {
                    Verifica disponibilità...
                    } @else {
                    <span class="text-red-600 font-bold">{{ totalItems() }}</span> Prodotti trovati
                    }
                </p>
            </div>

            <mat-button-toggle-group [value]="viewMode()" (change)="viewMode.set($event.value)"
                hideSingleSelectionIndicator="true"
                class="bg-white border border-gray-200 rounded-lg shadow-sm h-10 items-center">

                <mat-button-toggle value="grid" aria-label="Vista Griglia">
                    <mat-icon>grid_view</mat-icon>
                </mat-button-toggle>

                <mat-button-toggle value="list" aria-label="Vista Elenco">
                    <mat-icon>view_list</mat-icon>
                </mat-button-toggle>

            </mat-button-toggle-group>
        </div>

        @if (isLoading()) {
        <div class="flex justify-center py-20">
            <mat-spinner diameter="40" color="warn"></mat-spinner>
        </div>
        }

        @if (!isLoading()) {
        <div [class]="viewMode() === 'grid' ? 'responsive-grid' : 'flex flex-col gap-4'"
            class="border-b border-gray-200 pb-8 transition-all duration-300">
            @for (product of products(); track product.productId) {
            <app-product-card [product]="product" [viewMode]="viewMode()">
            </app-product-card>
            }
        </div>
        }

        <!-- Paginator -->
        @if (totalItems() > 0) {
        <div class="mt-4">
            <app-paginator [length]="totalItems()" [pageSize]="pageSize()" [pageIndex]="currentPage()"
                (pageChange)="onPageChange($event)">
            </app-paginator>
        </div>
        }

        <!-- Empty State -->
        @if (!isLoading() && products().length === 0) {
        <div class="text-center py-10 flex flex-col items-center">
            <mat-icon class="text-gray-300 text-6xl mb-4 w-16! h-16!">search_off</mat-icon>
            <h3 class="text-lg font-medium text-gray-600">Nessun prodotto trovato</h3>
            <p class="text-gray-400">Prova a cambiare categoria o filtri.</p>
            <a routerLink="/products/category/all" class="mt-4 text-red-600 font-medium hover:underline cursor-pointer">
                Visualizza tutti i prodotti
            </a>
        </div>
        }

    </mat-sidenav-content>
</mat-sidenav-container>